<!DOCTYPE html>
<html>
<head>
    <title>Medicine Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="button-container">
        <a href="{{url_for('main_bp.analysis_bp.analysis')}}">Analysis</a>
    </div>
    <div class="button-container">
        <a href="{{url_for('main_bp.prescription_bp.prescription')}}">Prescription</a>
    </div>
    <div class="button-container">
        <a href="{{url_for('main_bp.bill')}}">Bill</a>
    </div>
    <div class="button-container">
        <a href="{{url_for('main_bp.admin')}}">Admin</a>
    </div>
    <div class="button-container">
        <a href="{{url_for('main_bp.brands')}}">Brands</a>
    </div>
    <div class="button-container">
        <a href="{{url_for('main_bp.brands')}}">About us</a>
    </div>
</body>
</html>
