<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Register
        </title>
    </head>
    <body>
        <h2>Register</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }} {{ form.username(size=20) }}
                {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }} {{ form.password(size=20) }}
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.confirm_password.label }} {{ form.confirm_password(size=20) }}
                {% for error in form.confirm_password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>{{ form.submit() }}</div>
        </form>
        <a class="no-purpose-redirect" href="{{url_for('auth_bp.login')}}">
            Already have an account? Login
        </a>
    </body>
</html>