<!DOCTYPE html>
<html>
<head>
    <title>Brands</title>
    <style>
        /* Add CSS styles for the suggestions dropdown */
        #suggestions {
            display: none;
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            max-height: 150px;
            overflow-y: auto;
        }
        #suggestions li {
            padding: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>


    <h1>Select Medicine Brands</h1>
    <iframe src="/brands/" width="100%" height="2000vh" frameBorder="0"></iframe>
    </iframe>
</body>
</html>
