<!DOCTYPE html>
<html>
<head>
    <title>Medicine Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="button-container">
        <a href="{{url_for('analysis')}}">Analysis</a>
    </div>
    <div class="button-container">
        <a href="{{url_for('prescription')}}">Prescription</a>
    </div>
    <div class="button-container">
        <a href="{{url_for('bill')}}">Bill</a>
    </div>
    <div class="button-container">
        <a href="{{url_for('admin')}}">Admin</a>
    </div>
    <div class="button-container">
        <a href="{{url_for('brands')}}">Brands</a>
    </div>
    <div class="button-container">
        <a href="{{url_for('brands')}}">About us</a>
    </div>
</body>
</html>
