<!DOCTYPE html>
<html>
<head>
    <title>Medicine Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="button-container">
        <a href="{{url_for('analysis.analysis')}}">Analysis</a>
    </div>
    <div class="button-container">
        <a href="{{url_for('prescription.prescription')}}">Prescription</a>
    </div>
    <div class="button-container">
        <a href="{{url_for('bill.bill')}}">Bill</a>
    </div>
    <div class="button-container">
        <a href="{{url_for('admin.admin')}}">Admin</a>
    </div>
    <div class="button-container">
        <a href="{{url_for('brands.brands')}}">Brands</a>
    </div>
</body>
</html>
